.exp-search-area {
  background-color: rgba(29,30,33,1);// darkgray;//darkcyan;
  padding: 16px;
  color: white;
  border-radius: 0 0 15px 16px;
  box-shadow: 0 1px 5px rgba(29,30,33,1);

  .header-line {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    background: white;
    border-radius: 8px;
    color: rgba(29,30,33,1);
    padding: 0 8px;
    flex-grow: 1;

    mat-icon {
      width: 30px;
    }

    input {
      border: none;
      width: 100%;
      padding: 8px;
      font-size: 18px;

      &:focus {
        outline: none;
      }
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: -24px;
  }
}
