<div class="exp-search-area animate__animated animate__slideInDown animate__faster">
  <div class="header-line">
    <a routerLink="/search"><img class="logo" src="../../../../assets/lifeXplore_.png"></a>
    <ng-container *ngIf="searchAreaMode$ | async as mode">
      <div *ngIf="mode === ExpSearchAreaMode.TEXT" class="search-container animate__animated animate__fadeIn animate__delay-0.3s">
        <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
        <input [(ngModel)]="searchValue" (keydown.enter)="onSearchChange()" type="text" class="exp-textfield" placeholder="Search ..."/>
      </div>
      <exp-graphical-search-area *ngIf="mode === ExpSearchAreaMode.GRAPHICAL"
                                 [graphicalContent]="graphical_content" class="animate__animated animate__fadeIn animate__delay-0.3s"/>
      <div class="action-buttons animate__animated animate__fadeIn animate__delay-0.3s">
        <div class="buttons-first">
          <button class="secondary exp-hover-scale" (click)="onSearchChange()">Search</button>
          <button class="delete exp-hover-scale" (click)="clickOnReset()">Reset</button>
        </div>
        <div class="history-mode-container">
          <div>
            <mat-icon class="exp-clickable exp-hover-scale"
                      aria-hidden="false"
                      (click)="openHistory()"
                      fontIcon="history"></mat-icon>
          </div>
          <div>
            <mat-icon class="exp-clickable exp-hover-scale"
                      aria-hidden="false"
                      fontIcon="tune"></mat-icon>
          </div>
          <div>
            <mat-icon class="exp-clickable exp-hover-scale"
                      aria-hidden="false"
                      (click)="showHelp()"
                      fontIcon="help"></mat-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<lx-query-help-dialog *ngIf="showHelpActive" (clickOnClose)="showHelpActive = false"></lx-query-help-dialog>
<lx-history-dialog *ngIf="showHistoryActive" (clickOnClose)="showHistoryActive = false" (clickOnHistoryItem)="clickOnHistoryItem($event)"></lx-history-dialog>
```

