<div class="exp-search-area animate__animated animate__slideInDown animate__faster">
  <div class="header-line">
    <a routerLink="/search"><img class="logo" src="../../../../assets/lifeXplore_.png"></a>
    <ng-container *ngIf="searchAreaMode$ | async as mode">
      <div *ngIf="mode === ExpSearchAreaMode.TEXT" class="search-container animate__animated animate__fadeIn animate__delay-0.3s">
        <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
        <input [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()" (keydown.enter)="onSearch.emit()" type="text" class="exp-textfield" placeholder="Search ..."/>
      </div>
      <exp-graphical-search-area *ngIf="mode === ExpSearchAreaMode.GRAPHICAL"
                                 [graphicalContent]="graphical_content" class="animate__animated animate__fadeIn animate__delay-0.3s"/>
      <div class="action-buttons animate__animated animate__fadeIn animate__delay-0.3s">
        <button class="secondary exp-hover-scale" (click)="onSearchChange()">Search</button>
        <button class="delete exp-hover-scale" (click)="clickOnReset()">Reset</button>
      </div>
    </ng-container>
  </div>
</div>

