.subquery-selection {
  background: white;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 4px;
  max-height: 80%;
  overflow: scroll;

  .subquery-type {
    padding: 8px;

    &:hover {
      background: rgba(29,30,33,0.1);
    }

    &.selected {
      background: rgba(29,30,33,1);
      color: white;
    }
  }
}
