.lifelog-search-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 53px;


  .lifelog-search-result {
    max-width: var(--result-max-width, 250px);
    min-width: var(--result-min-width, 150px);
    background-color: rgba(29,30,33,1);
    color: white;
    overflow: hidden;
    flex: 1 1 150px;

    &:hover {
      z-index: 2;
      transform: scale(1.05);
    }

    &.shift:hover {
      transform: scale(4);
    }

    img {
      width: 100%;
      height: var(--img-height, 120px);
      object-fit: cover;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      padding: 8px;

      .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .heart-rate-container {
          display: flex;
          flex-direction: row;
          gap: 4px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
