<div class="query-type-container">
  <div class="line first">
    <div class="query-type">{{queryPart.query_type}}</div>
    <div class="query-value"><input [(ngModel)]="queryPart.query" /></div>
    <div class="query-delete">
      <mat-icon fontIcon="edit_note" class="exp-clickable exp-hover-scale" (click)="openDetail()"/>
      <mat-icon fontIcon="delete" class="exp-clickable exp-hover-scale" (click)="clickDelete()"/>
    </div>
  </div>
  <div *ngIf="queryPart.subqueries && queryPart.subqueries.length > 0" class="line subqueries">
    <app-subquery-presenter-element
      [subquery]="subquery" *ngFor="let subquery of queryPart.subqueries"
      (onDelete)="deleteSubquery($event)"
    />
  </div>
</div>
<exp-popup [open$]="openDetailContainer$">
  <app-query-part-element [queryPart]="queryPart"/>
</exp-popup>
