.query-type-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;

  .query-type {
    padding: 4px;
    border-width: 0 1px 0 0;
    border-style: solid;
    color: white;
    background-color: rgba(29,30,33,1);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }

  .subquery-delete, .subquery-type, .subquery-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .query-value {
    padding: 4px;

    input {
      font-size: inherit;
      border: none;
    }
  }

  .line {
    &.first {
      display: flex;
      flex-direction: row;
      border-style: solid;
      border-width: 0 0 1px 0;

      .query-value {
        flex-grow: 1;
      }
    }

    &.subqueries {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      padding: 8px;
      font-size: 12px;
    }
  }
}
