.exp-clickable {
  cursor: pointer;
}

.exp-hover-scale {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.04);
  }
}

.exp-hover-scale-left-center {
  transition: transform 0.2s ease-out;
  transform-origin: left center;

  &:hover {
    transform: scale(1.04);
  }
}

.exp-hover-scale-small {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(0.97);
  }
}

.exp-hover-scale-rotate {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.03) rotate(2deg);
  }
}

.exp-hover-scale-rotate-small {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(0.97) rotate(-2deg);
  }
}

.exp-hover-move-up {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateY(-2px);
  }
}

.exp-hover-move-left {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(-4px);
  }
}

.exp-hover-move-right {
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(4px);
  }
}

@keyframes textPulsate {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.7);
  }
  50% {
    text-shadow: 0 0 20px #fff;
  }
  100% {
    text-shadow: 0 0 10px rgba(255,255,255,.7);
  }
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
