button {
  &.primary, &.secondary, &.delete, &.green {
    border-radius: 8px;
    padding: 8px;
    height: auto;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  &.primary {
    background-color: rgba(29,30,33,1);
    color: white;
  }

  &.secondary {
    background-color: rgb(227, 227, 158);
  }

  &.delete {
    background-color: red;
    color: white;
  }

  &.green {
    background-color: green;
    color: white;
  }
}

.metadata-tags {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
  padding: 4px;

  .metadata-tag {
    padding: 4px;
    background: var(--exp-color-primary);
    color: var(--exp-color-light);
    border-radius: 4px;
  }
}
