:root {
  --exp-color-primary: rgba(29,30,33,1);
  --exp-color-secondary: rgb(227, 227, 158);
  --exp-color-dark: black;
  --exp-color-mid: gray;
  --exp-color-light: white;

  --exp-color-hover-gray: rgba(29,30,33,0.1);
}
