expl-dialog {
  --padding: 0;
  --header-display: none;
  --app-modal-background: var(--exp-color-light);
  --app-modal-header-body-margin: 0;
  --body-overflow: hidden;
  --max-height: auto;
}

.preview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background: var(--exp-color-primary);
    color: white;
    padding: 8px;

    .submission-text {
      font-size: 20px;

      &.request-error {
        color: var(--exp-color-request-failure);
        text-shadow: 0 0 1px white;
      }

      &.success {
        color: var(--exp-color-success);
        text-shadow: 0 0 5px var(--exp-color-success);
      }

      &.pending {
        color: var(--exp-color-pending);
        text-shadow: 0 0 5px var(--exp-color-pending);
      }

      &.wrong {
        color: var(--exp-color-wrong);
        text-shadow: 0 0 5px var(--exp-color-wrong);
      }
    }

    .mode-container {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .active-tab {
        color: var(--exp-color-secondary);
      }
    }

    .mode-color {
      display: flex;
      flex-direction: row;
      gap: 4px;
      padding: 4px;
    }

    .title-container {
      padding: 4px;
      flex-grow: 1;
      text-align: center;
    }
  }

  .content {
    overflow: scroll;
    max-height: 80vh;
    min-width: 400px;
    min-height: 400px;
  }
}
