.top-status-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  gap: 4px;
  z-index: 2;

  .settings-icon {
    margin-top: 4px;
  }
}
