<exp-search-area
  (searchValueChange)="searchValueChange($event)"
  (onSearch)="onSearch($event)"
  (onSearchObject)="onSearchObject($event)"
/>
<div class="top-status-bar">
  <div class="settings-container">
    <mat-icon fontIcon="settings" class="settings-icon exp-clickable exp-hover-scale" (click)="openSettings$.next(true);" />
    <exp-popup [open$]="openSettings$">
      <app-settings />
    </exp-popup>
  </div>
  <div class="pages-container" *ngIf="pages">
    <div
      class="page-container exp-clickable exp-hover-scale"
      (click)="loadPage(1)"
      *ngIf="currentPage > 4">
      1...
    </div>
    <div
      class="page-container exp-clickable exp-hover-scale"
      (click)="loadPage(p)"
      [class.active]="currentPage === p"
      *ngFor="let p of pages">
      {{ p }}
    </div>
    <div
      class="page-container exp-clickable exp-hover-scale"
      (click)="loadPage(totalPages)"
      *ngIf="currentPage < totalPages - 3">
      ...{{ totalPages }}
    </div>
  </div>
  <app-settings-view-results-mode />
</div>
<ng-container *ngIf="results$ | async as results;">
  <ng-container *ngIf="searchResultMode$ | async as searchResultMode">
    <app-default-result-container
      *ngIf="searchResultMode === HTMLSearchResultMode.DEFAULT"
      [results]="results"
      [previousPageTrigger$]="previousPageTrigger$"
      [nextPageTrigger$]="nextPageTrigger$"
      [openPageTrigger$]="openPageTrigger$"
    />
    <app-minimal-result-container
      *ngIf="searchResultMode === HTMLSearchResultMode.MINIMAL"
      [results]="results"
      [previousPageTrigger$]="previousPageTrigger$"
      [nextPageTrigger$]="nextPageTrigger$"
      [openPageTrigger$]="openPageTrigger$"
    />
  </ng-container>
</ng-container>
<exp-statusbar/>
<expl-dialog [showCloseButton]="false" *ngIf="progress$ | async as progress" title="Progress">
  {{progress}}
</expl-dialog>

<expl-dialog class="error-dialog" *ngIf="error$ | async as error" title="Error" (clickOnClose)="error$.next(undefined);">
  {{error}}
</expl-dialog>
