.subquery-element-container {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: calc(100% - 12px);
    padding: 4px;
    border-width: 1px;
  }
}
