<div class="bottom-statusbar animate__animated animate__slideInUp animate__faster">
  <div class="connections-container">
    <div class="connection-container" [class.connected]="pythonServerService.connectionState === WSServerStatus.CONNECTED">Backend</div>
    <div class="dres-user">
      DRESUser: {{ dresUser }}
      <div *ngIf="logToDRES$ | async" class="no-log-info">No Log</div>
    </div>
    <select (change)="changeEvaluation($event)" [ngModel]="vbsServerConnectionService.selectedEvaluation">
      <option *ngFor="let v of vbsServerConnectionService.evaluations" [value]="v.id">{{ v.name }}</option>
    </select>
    <div class="submission-container" help="State">
      <div class="success" *ngIf="{val: submissionLogSuccessCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="pending" *ngIf="{val: submissionLogPendingCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="wrong" *ngIf="{val: submissionLogWrongCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="request-failure animate__animated" *ngIf="{val: submissionLogRequestFailureCount$ | async } as data">{{ data.val ?? 0 }}</div>
    </div>
    <ng-container *ngIf="showTaskInfo$ | async">
      <div *ngIf="currentTaskState$ | async as task" class="task-info">
        <div>{{ task.timeLeft | taskTime }}</div>
        <div class="task-id">{{ task.taskId}}</div>
      </div>
    </ng-container>
  </div>
  <div class="submit-container" help="QA-Answer">
    Topic Answer
    <input #topicInput class="exp-textfield" type="text"
           placeholder="QA Answer"
           (focusin)="focusTopicInput(true)"
           (focusout)="focusTopicInput(false)" >
    <button class="green exp-hover-scale" (click)="submitTopic(topicInput)">Submit</button>
  </div>
</div>
