<div class="bottom-statusbar animate__animated animate__slideInUp animate__faster">
  <div class="connections-container">
    <div class="connection-container" [class.connected]="pythonServerService.connectionState === WSServerStatus.CONNECTED">Backend</div>
    DRESUser: mrader
    <select (change)="changeEvaluation($event)" [ngModel]="vbsServerConnectionService.selectedEvaluation">
      <option *ngFor="let v of vbsServerConnectionService.evaluations" [value]="v.id">{{ v.name }}</option>
    </select>
    <div class="submission-container">
      <div class="success" *ngIf="{val: submissionLogSuccessCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="pending" *ngIf="{val: submissionLogPendingCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="wrong" *ngIf="{val: submissionLogWrongCount$ | async } as data">{{ data.val ?? 0 }}</div>
      <div class="request-failure" *ngIf="{val: submissionLogRequestFailureCount$ | async } as data">{{ data.val ?? 0 }}</div>
    </div>
  </div>
  <div class="submit-container">
    Topic Answer
    <input #topicInput class="exp-textfield" type="text">
    <button class="green exp-hover-scale" (click)="submitTopic(topicInput)">Submit</button>
  </div>
</div>
