

//input[type="text"]
.blueborder {
    border: 3px solid blue;
    box-sizing: border-box;
}

#queryinput {
    font-size: 20px;
    height: 26px;
    width: 57%;
}

#topicanswer {
    height: 26px;
    width: 15%;
    background-color: rgb(220,220,220);
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.searchButton {
    background-color: rgb(227, 227, 158);
    color: black;
    margin-right: 40px;
}

.resetButton {
    background-color: red;
}

.historySelect {
    float: right;
    padding-right: 20px;
    padding-bottom: 30px;
}

.historyToggle, .historySelect option {
    background-color: lightgray;
}

.spacer {
    margin-right: 40px;
}

.whiteColor {
    color: white;
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
}

.topicanswerbutton {
    background-color: rgba(0,110,0,0.8);
    color: white;
    padding: 2px;
    width: 100px;
}

.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.videopreview {
    background-color: rgba(255,255,255,0.75);
    display: none;
    position: absolute;
    left: 5px;
    top: 140px;
    height: 100%;
    z-index: 10;
}

.videopreviewimage {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.selected-page {
    background-color: white;
    color: black;
}

/*.full-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}*/

.full-image {
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

.full-message {
    padding: 40px;
    background-color: #ffffe0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 20pt;
  }

.dayLink {
    background-color: #6bb6ff;
    color: white;
    font-size: larger;
}
 
.hourLink {
    background-color: #3498db;
    color: white;
    font-size: larger;
}

.minuteLink {
    background-color: #0066cc;
    color: white;
    font-size: larger;
}
  