
<div class="queryarea">
    <a routerLink="/query" (click)="resetQuery()"><img class="logo" src="assets/lifeXplore_.png"></a>
    <select [(ngModel)]="queryMode" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of queryModes" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
    <button class="searchButton" (click)="performNewTextQuery()">Search</button>
    <button (click)="clearQuery()">x</button>
    <button class="resetButton" (click)="resetQuery()">Reset</button>
    <button class="historyToggle" (click)="toggleHistorySelect()">History</button>
    <button class="helpButton" (click)="showHelp()">Help</button>
    <div class="historySelect" #historyDiv>
      <select [(ngModel)]="selectedHistoryEntry" value="" (change)="performHistoryQuery()">
        <option value="-1" selected disabled>-- Search History --</option>
        <option *ngFor="let h of history(); let i = index" [ngValue]="i">{{h}}</option>
      </select>
    </div>
</div>
  
<div class="queryarea">
  Pages: 
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle
      *ngFor="let p of pages"
      [value]="p"
      (click)="performQuery()"
      [disabled]="totalReturnedResults == 0"
      [ngClass]="{ 'selected-page': p === selectedPage }"
    >
      {{ p }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  
  <span *ngIf="this.totalReturnedResults > 0">&nbsp; ({{this.totalReturnedResults}} results)</span>
  <span *ngIf="this.totalReturnedResults > this.MAX_RESULTS_TO_DISPLAY">...only {{this.MAX_RESULTS_TO_DISPLAY}} are shown</span>
</div>
    
<br/>

<div class="videopreview" #videopreview>
  <img [src]="videopreviewimage" class="videopreviewimage" width="2200">
  <button (click)="closeVideoPreview()">Close</button>
</div>
  
<!-- Result Images -->
<div (mouseover)="showButtons = i" (mouseleave)="showButtons = -1" class="queryresult" *ngFor="let item of resultURLs | slice:0:MAX_RESULTS_TO_DISPLAY; let i = index">
  <!--<img src="{{item}}" width="320" height="180" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">-->
  <img src="{{item}}" width="{{localConfig.config_THUMB_WIDTH}}" height="{{localConfig.config_THUMB_HEIGHT}}" style="cursor:pointer" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">
  <div class="lefttopcorner">
    <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'" class="resultnum">{{this.queryresult_frame[i]}}</span>
  </div>
  <div class="righttopcorner" *ngIf="showButtons === i">
      <span class="label">
          <a [routerLink]="['/query',this.getFilenameFromItem(item).substring(0,8)]" target="_new">{{filenameToDate(this.getFilenameFromItem(item))}}</a>
      </span>
  </div>
  <div class="leftbottomcorner">
    <!--<button *ngIf="showButtons === i" (click)="showDaySummary(i)" class="resultaction">Day</button>-->
    
    <!--<button *ngIf="showButtons === i" (click)="performFileSimilarityQuery(queryresults[i],'')" class="resultaction">Similar</button>-->
    <a *ngIf="showButtons === i" [routerLink]="['/filesimilarity',queryresults[i]]" target="_new" class="resultaction">Similar</a>
  </div>
  <div class="rightbottomcorner">
      <!-- <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button> -->
      <button *ngIf="showButtons === i" class="submitbutton" (click)="submitResult(i)">Submit</button>
  </div>
</div>

<!-- Full-resolution image -->
<div *ngIf="showFullImage" class="full-image">
  <img *ngIf="showFullImage" [src]="fullImage" height="720" alt="Full Image" (click)="hideFullImage()">
  <span *ngIf="showFullImage" class="full-image-infos">
    <span *ngIf="showFullImage && metadata?.filename" class="imageinfo"><b>Filename:</b>&nbsp;{{this.metadata.filename}}
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,8)]" target="_blank" class="dayLink">D</a>
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,11)]" target="_blank" class="hourLink">H</a>
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,13)]" target="_blank" class="minuteLink">M</a>
    </span>
    <span *ngIf="showFullImage && metadata?.datetime" class="imageinfo"><b>Date:</b>&nbsp;{{this.metadata.datetime}}</span>
    <span *ngIf="showFullImage && metadata?.time_zone" class="imageinfo"><b>Time Zone:</b>&nbsp;{{this.metadata.time_zone}}</span>
    <span *ngIf="showFullImage && metadata?.local_time" class="imageinfo"><b>Local Time:</b>&nbsp;{{this.metadata.local_time}}</span>
    <span *ngIf="showFullImage && metadata?.weekday" class="imageinfo"><b>Weekday:</b>&nbsp;{{this.metadata.weekday}}</span>
    <span *ngIf="showFullImage && metadata?.heart_rate" class="imageinfo"><b>Heart Rate:</b>&nbsp;{{this.metadata.heart_rate}}</span>
    <span *ngIf="showFullImage && metadata?.objects" class="imageinfo"><b>Objects:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.objects">
        {{obj.object}} 
        <a class="addButton" (click)="addToQuery('o',obj.object)">+</a>
        <a class="delButton" (click)="delFromQuery('o',obj.object)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.concepts" class="imageinfo"><b>Concepts:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.concepts">
        {{obj.concept}} 
        <a class="addButton" (click)="addToQuery('c',obj.concept)">+</a>
        <a class="delButton" (click)="delFromQuery('c',obj.concept)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.places" class="imageinfo"><b>Places:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.places">
        {{obj.place}} 
        <a class="addButton" (click)="addToQuery('p',obj.place)">+</a>
        <a class="delButton" (click)="delFromQuery('p',obj.place)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.texts" class="imageinfo"><b>Texts:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.texts">
        {{obj.text}} 
        <a class="addButton" (click)="addToQuery('t',obj.text)">+</a>
        <a class="delButton" (click)="delFromQuery('t',obj.text)">+</a>
      </span>
    </span>
    <button (click)="clearQuery()">Clear query input</button>
    <button class="searchButton" (click)="performNewTextQuery()">Search again</button>
  </span>
  <div *ngIf="showFullImage" class="leftbottomcorner">
    <!--<button (click)="performSimilarityQueryForIndex(this.fullImageIndex)" class="resultactionL">Similar</button>-->
    <a [routerLink]="['/filesimilarity',queryresults[this.fullImageIndex]]" target="_new" class="resultactionL">Similar</a>
  </div>
  <div *ngIf="showFullImage" class="rightbottomcorner">
      <button class="submitbuttonL" (click)="submitResult(this.fullImageIndex)">Submit</button>
  </div>
</div>

<div *ngIf="nodeServerInfo !== undefined" class="full-message">
  {{nodeServerInfo}}
  <button (click)="nodeServerInfo = undefined">Close</button>
</div>

<div *ngIf="showHelpActive === true" class="full-help">
  <h4>CLIP Query</h4>
  Just enter any text to perform a CLIP query.

  <h4>Database Query</h4>
  Use any of the following parameters to (additionally) query the database and filter content:
  <ul>
    <li><b>-y</b>&nbsp; <i>year (4 digits; e.g., 2023)</i></li>
    <li><b>-m</b>&nbsp; <i>month (2 digits; e.g., 04)</i></li>
    <li><b>-d</b>&nbsp; <i>day (2 digits; e.g., 23)</i></li>
    <li><b>-wd</b>&nbsp; <i>Weekday (e.g., sunday)</i></li>
    <li><b>-t</b>&nbsp; <i>recognized texts (e.g., volvo)</i></li>
    <li><b>-o</b>&nbsp; <i>recognized objects</i> (COCO dataset; e.g., bottle)</li><button (click)="performObjectsQuery()">info</button>
    <li><b>-c</b>&nbsp; <i>recognized concepts</i> (ImageNet 1K dataset; e.g., dining_table)</li><button (click)="performConceptsQuery()">info</button>
    <li><b>-p</b>&nbsp; <i>recognized places</i> (Places365 dataset; e.g., shopping_mall)</li><button (click)="performPlacesQuery()">info</button>
    <li><b>-fn</b>&nbsp; <i>filename (or a part of it)</i></li>
  </ul>

  <h4>Result Limits</h4>
  <ul>
    <li>Use <b>All Images</b> to display all available images for a query.</li>
    <li>Use <b>Less Duplicates</b> to filter out temporally consecutive images in the result set hat are very similar.</li>
    <li>Use <b>Distinctive</b> to filter out temporally consecutive images in the result set that are similar.</li>
    <li>Use <b>First Image/Day</b> to display only the first image of the day in the result set.</li>
  </ul>

  <h4>Thumbnail Actions</h4>
  <ul>
    <li>Click thumbnail (or press space) to open <b>full-screen</b> view.</li>
    <li>Click <b>Date</b> to perform a <b>full day</b> (or <b>hour</b> or <b>minute</b>) query in a new tab.</li>
    <li>Click <b>Similar</b> to perform a <b>similarity query</b> in a new tab.</li>
    <li>Click <b>Submit</b> to send image to <b>DRES</b>.</li>
  </ul>
  
  <h4>Keyboard Shortcuts</h4>
  <ul>
    <li><b>left/right/tab</b>: switch page</li>
    <li><b>1-9</b>: goto page</li>
    <li><b>e</b>: extend query</li>
    <li><b>q</b>: edit query</li>
    <li><b>x</b>: reset query</li>
    <li><b>Space/Esc</b>: close full-screen view of image</li>
    <li><b>s</b>: submit results in full-screen view of image</li>
  </ul>
  <button (click)="showHelpActive = false">Close</button>
</div>

<div class="statusbar">
  <span class="{{clipService.connectionState}}">CLIP</span>
  <span class="{{nodeService.connectionState}}">Node</span>
  <span class="{{vbsService.vbsServerState}}">DRES</span>
<!--
  CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
  Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
  VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
-->

  &nbsp; 
  <span>User: {{vbsService.activeUsername}}</span>
  
  <span class="spacer2">&nbsp;</span>

  <span class="whiteColor">Topic Answer:</span> 
  <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
  <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>

  <span class="spacer">&nbsp;</span>

  <span>
    <select class="grayBackground" [(ngModel)]="this.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.selectedServerRun === undefined) || (i === +this.selectedServerRun!)">{{r}}</option>
    </select>
  </span>
  &nbsp;
  <span>{{statusTaskInfoText}}</span>
  &nbsp;
  <span class="remainingTimeInfo">{{statusTaskRemainingTime}}</span>
  

</div>

<span class="non-flex-item">
  <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
  <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
</span>