
<div class="queryarea">
    <a routerLink="/query" (click)="reloadComponent()"><img class="logo" src="assets/lifeXplore_.png"></a>
    <select [(ngModel)]="selectedDataset" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of datasets" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
    <button class="searchButton" (click)="performNewTextQuery()">Search</button>
    <button class="historyToggle" (click)="toggleHistorySelect()">History</button>
    <button class="resetButton" (click)="resetQuery()">Reset</button>
    <div class="historySelect" #historyDiv>
      <select [(ngModel)]="selectedHistoryEntry" value="" (change)="performHistoryQuery()">
        <option value="-1" selected disabled>-- Search History --</option>
        <option *ngFor="let h of history(); let i = index" [ngValue]="i">{{h}}</option>
      </select>
    </div>
</div>
  
<div class="queryarea">
  Pages: 
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle
      *ngFor="let p of pages"
      [value]="p"
      (click)="performQuery()"
      [disabled]="totalReturnedResults == 0"
      [ngClass]="{ 'selected-page': p === selectedPage }"
    >
      {{ p }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  
  <span *ngIf="this.totalReturnedResults > 0">({{this.totalReturnedResults}} results)</span>
</div>
    
<br/>

<div class="videopreview" #videopreview>
  <img [src]="videopreviewimage" class="videopreviewimage" width="2200">
  <button (click)="closeVideoPreview()">Close</button>
</div>
  
<!-- Result Images -->
<div (mouseover)="showButtons = i" (mouseleave)="showButtons = -1" class="queryresult" *ngFor="let item of resultURLs; let i = index">
  <!--<img src="{{item}}" width="320" height="180" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">-->
  <img src="{{item}}" width="{{localConfig.config_THUMB_WIDTH}}" height="{{localConfig.config_THUMB_HEIGHT}}" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">
  <div class="lefttopcorner">
    <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'" class="resultnum">{{this.queryresult_frame[i]}}</span>
  </div>
  <div class="righttopcorner" *ngIf="showButtons === i">
      <span class="label">
          <a [routerLink]="['/video',this.queryresult_videoid[i],this.queryresult_frame[i]]" target="_blank">{{this.getFilenameFromItem(item)}}</a>
      </span>
  </div>
  <div class="leftbottomcorner">
    <button *ngIf="showButtons === i" (click)="showDaySummary(i)" class="resultaction">Day</button>
    
    <button *ngIf="showButtons === i" (click)="performSimilarityQueryForIndex(i)" class="resultaction">Similar</button>
  </div>
  <div class="rightbottomcorner">
      <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button>
  </div>
</div>

<!-- Full-resolution image -->
<div class="full-image">
  <span class="container">
    <span *ngIf="showFullImage && metadata?.filename" class="imageinfo"><h3>Filename</h3>{{this.metadata.filename}}</span>
    <span *ngIf="showFullImage && metadata?.datetime" class="imageinfo"><h3>Date</h3>{{this.metadata.datetime}}</span>
    <span *ngIf="showFullImage && metadata?.time_zone" class="imageinfo"><h3>Time Zone</h3>{{this.metadata.time_zone}}</span>
    <span *ngIf="showFullImage && metadata?.local_time" class="imageinfo"><h3>Local Time</h3>{{this.metadata.local_time}}</span>
    <span *ngIf="showFullImage && metadata?.weekday" class="imageinfo"><h3>Weekday</h3>{{this.metadata.weekday}}</span>
    <span *ngIf="showFullImage && metadata?.heart_rate" class="imageinfo"><h3>Heart Rate</h3>{{this.metadata.heart_rate}}</span>
    <span *ngIf="showFullImage && metadata?.objects" class="imageinfo"><h3>Objects</h3>{{getDetectedObjects(this.metadata.objects)}}</span>
    <span *ngIf="showFullImage && metadata?.concepts" class="imageinfo"><h3>Concepts</h3>{{getDetectedConcepts(this.metadata.concepts)}}</span>
    <span *ngIf="showFullImage && metadata?.texts" class="imageinfo"><h3>Texts</h3>{{getDetectedTexts(this.metadata.texts)}}</span>
  </span>
  <img *ngIf="showFullImage" [src]="fullImage" alt="Full Image" (click)="hideFullImage()">
  <div *ngIf="showFullImage" class="leftbottomcorner">
    <button (click)="performSimilarityQueryForIndex(this.fullImageIndex)" class="resultactionL">Similar</button>
  </div>
  <div *ngIf="showFullImage" class="rightbottomcorner">
      <button class="submitbuttonL" (click)="submitResult(this.fullImageIndex)">Submit</button>
  </div>
</div>

<div class="statusbar">
  <span class="{{clipService.connectionState}}">CLIP</span>
  <span class="{{nodeService.connectionState}}">Node</span>
  <span class="{{vbsService.vbsServerState}}">DRES</span>
<!--
  CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
  Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
  VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
-->
  
  <span class="spacer">&nbsp;</span>

  <span class="whiteColor">Topic Answer:</span> 
  <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus/>
  <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>

  <span class="spacer">&nbsp;</span>

  <span>
    <select class="grayBackground" [(ngModel)]="this.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.selectedServerRun === undefined) || (i === +this.selectedServerRun!)">{{r}}</option>
    </select>
  </span>
  &nbsp;
  <span>{{statusTaskInfoText}}</span>
  &nbsp;
  <span class="remainingTimeInfo">{{statusTaskRemainingTime}}</span>

  <span class="help">KEYBOARD: <b>1-9</b>: goto page, <b>left/right/tab</b>: switch page, <b>e</b>: extend query, <b>q</b>: edit query, <b>x</b>: reset query</span>
</div>

<br/>&nbsp;
<br/>&nbsp;
<br/>&nbsp;