
<div class="queryarea">
    <a routerLink="/query" (click)="resetQuery()"><img class="logo" src="assets/lifeXplore_.png"></a>
    <select [(ngModel)]="queryMode" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of queryModes" [ngValue]="d.id">{{d.name}}</option>
    </select>
    <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
    <button class="searchButton" (click)="performNewTextQuery()">Search</button>
    <button (click)="clearQuery()">x</button>
    <button class="resetButton" (click)="resetQuery()">Reset</button>
    <button class="historyToggle" (click)="toggleHistorySelect()">History</button>
    <button class="helpButton" (click)="showHelp()">Help</button>
    <div class="historySelect" #historyDiv>
      <select [(ngModel)]="selectedHistoryEntry" value="" (change)="performHistoryQuery()">
        <option value="-1" selected disabled>-- Search History --</option>
        <option *ngFor="let h of history(); let i = index" [ngValue]="i">{{h}}</option>
      </select>
    </div>
</div>

<div class="queryarea">
  Pages:
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle
      *ngFor="let p of pages"
      [value]="p"
      (click)="performQuery()"
      [disabled]="totalReturnedResults == 0"
      [ngClass]="{ 'selected-page': p === selectedPage }"
    >
      {{ p }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span *ngIf="this.totalReturnedResults > 0">&nbsp; ({{this.totalReturnedResults}} results)</span>
  <span *ngIf="this.totalReturnedResults > this.MAX_RESULTS_TO_DISPLAY">...only {{this.MAX_RESULTS_TO_DISPLAY}} are shown</span>
</div>

<br/>

<div class="videopreview" #videopreview>
  <img [src]="videopreviewimage" class="videopreviewimage" width="2200">
  <button (click)="closeVideoPreview()">Close</button>
</div>

<!-- Result Images -->
<div (mouseover)="showButtons = i" (mouseleave)="showButtons = -1" class="queryresult" *ngFor="let item of resultURLs | slice:0:MAX_RESULTS_TO_DISPLAY; let i = index">
  <!--<img src="{{item}}" width="320" height="180" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">-->
  <img src="{{item}}" width="{{localConfig.config_THUMB_WIDTH}}" height="{{localConfig.config_THUMB_HEIGHT}}" style="cursor:pointer" (click)="displayFullImage(item, i)" [ngClass]="{'blueborder': this.showFullImage && this.fullImageIndex == i}">
  <div class="lefttopcorner">
    <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'" class="resultnum">{{this.queryresult_frame[i]}}</span>
  </div>
  <div class="righttopcorner" *ngIf="showButtons === i">
      <span class="label">
          <a [routerLink]="['/query',this.getFilenameFromItem(item).substring(0,8)]" target="_new">{{filenameToDate(this.getFilenameFromItem(item))}}</a>
      </span>
  </div>
  <div class="leftbottomcorner">
    <!--<button *ngIf="showButtons === i" (click)="showDaySummary(i)" class="resultaction">Day</button>-->

    <!--<button *ngIf="showButtons === i" (click)="performFileSimilarityQuery(queryresults[i],'')" class="resultaction">Similar</button>-->
    <a *ngIf="showButtons === i" [routerLink]="['/filesimilarity',queryresults[i]]" target="_new" class="resultaction">Similar</a>
  </div>
  <div class="rightbottomcorner">
      <!-- <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button> -->
      <button *ngIf="showButtons === i" class="submitbutton" (click)="submitResult(i)">Submit</button>
  </div>
</div>

<!-- Full-resolution image -->
<div *ngIf="showFullImage" class="full-image">
  <img *ngIf="showFullImage" [src]="fullImage" height="720" alt="Full Image" (click)="hideFullImage()">
  <span *ngIf="showFullImage" class="full-image-infos">
    <span *ngIf="showFullImage && metadata?.filename" class="imageinfo"><b>Filename:</b>&nbsp;{{this.metadata.filename}}
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,8)]" target="_blank" class="dayLink">D</a>
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,11)]" target="_blank" class="hourLink">H</a>
      <a *ngIf="showFullImage && metadata?.filename" [routerLink]="['/query',this.metadata.filename.substring(0,13)]" target="_blank" class="minuteLink">M</a>
    </span>
    <span *ngIf="showFullImage && metadata?.datetime" class="imageinfo"><b>Date:</b>&nbsp;{{this.metadata.datetime}}</span>
    <span *ngIf="showFullImage && metadata?.time_zone" class="imageinfo"><b>Time Zone:</b>&nbsp;{{this.metadata.time_zone}}</span>
    <span *ngIf="showFullImage && metadata?.local_time" class="imageinfo"><b>Local Time:</b>&nbsp;{{this.metadata.local_time}}</span>
    <span *ngIf="showFullImage && metadata?.weekday" class="imageinfo"><b>Weekday:</b>&nbsp;{{this.metadata.weekday}}</span>
    <span *ngIf="showFullImage && metadata?.heart_rate" class="imageinfo"><b>Heart Rate:</b>&nbsp;{{this.metadata.heart_rate}}</span>
    <span *ngIf="showFullImage && metadata?.objects" class="imageinfo"><b><a [routerLink]="['/info/objects']">Objects</a>:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.objects">
        {{obj.object}}
        <a class="addButton" (click)="addToQuery('o',obj.object)">+</a>
        <a class="delButton" (click)="delFromQuery('o',obj.object)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.concepts" class="imageinfo"><b><a [routerLink]="['/info/concepts']">Concepts</a>:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.concepts">
        {{obj.concept}}
        <a class="addButton" (click)="addToQuery('c',obj.concept)">+</a>
        <a class="delButton" (click)="delFromQuery('c',obj.concept)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.places" class="imageinfo"><b><a [routerLink]="['/info/places']">Places</a>:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.places">
        {{obj.place}}
        <a class="addButton" (click)="addToQuery('p',obj.place)">+</a>
        <a class="delButton" (click)="delFromQuery('p',obj.place)">-</a>
      </span>
    </span>
    <span *ngIf="showFullImage && metadata?.texts" class="imageinfo"><b><a [routerLink]="['/info/texts']">Texts</a>:</b>&nbsp;
      <span *ngFor="let obj of this.metadata.texts">
        {{obj.text}}
        <a class="addButton" (click)="addToQuery('t',obj.text)">+</a>
        <a class="delButton" (click)="delFromQuery('t',obj.text)">+</a>
      </span>
    </span>
    <button (click)="clearQuery()">Clear query input</button>
    <button class="searchButton" (click)="performNewTextQuery()">Search again</button>
  </span>
  <div *ngIf="showFullImage" class="leftbottomcorner">
    <!--<button (click)="performSimilarityQueryForIndex(this.fullImageIndex)" class="resultactionL">Similar</button>-->
    <a [routerLink]="['/filesimilarity',queryresults[this.fullImageIndex]]" target="_new" class="resultactionL">Similar</a>
  </div>
  <div *ngIf="showFullImage" class="rightbottomcorner">
      <button class="submitbuttonL" (click)="submitResult(this.fullImageIndex)">Submit</button>
  </div>
</div>

<expl-dialog *ngIf="nodeServerInfo !== undefined" title="Info" (clickOnClose)="nodeServerInfo = undefined">
  {{nodeServerInfo}}
</expl-dialog>

<lx-query-help-dialog *ngIf="showHelpActive" (clickOnClose)="showHelpActive = false"></lx-query-help-dialog>

<!-- TODO: outsource -->
<div class="statusbar">
  <span class="{{clipService.connectionState}}">CLIP</span>
  <span class="{{nodeService.connectionState}}">Node</span>
  <span class="{{vbsService.vbsServerState}}">DRES</span>
  <span>User: {{vbsService.activeUsername}}</span>

  <span class="spacer2">&nbsp;</span>

  <span class="whiteColor">Topic Answer:</span>
  <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
  <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>

  <span class="spacer">&nbsp;</span>

  <span>
    <select class="grayBackground" [(ngModel)]="this.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.selectedServerRun === undefined) || (i === +this.selectedServerRun!)">{{r}}</option>
    </select>
  </span>
  &nbsp;
  <span>{{statusTaskInfoText}}</span>
  &nbsp;
  <span class="remainingTimeInfo">{{statusTaskRemainingTime}}</span>
</div>

<!-- TODO: clarify what is the purpose of this span? -->
<span class="non-flex-item">
  <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
  <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
</span>
