.lifelog-search-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  padding: 64px;
  padding-bottom: 53px;


  .lifelog-search-result {
    max-width: 350px;
    min-width: 250px;
    background-color: rgba(29,30,33,1);
    color: white;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    border-color: rgb(29, 30, 33);
    border-style: solid;
    flex: 1 1 250px;
    position: relative;

    .fast-submit-mode {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
      padding: 4px;
      margin: 8px;
      opacity: 0.8;
      font-weight: bolder;
      font-size: 14px;
      background-color: var(--exp-color-primary);
    }

    .group-tag {
      position: absolute;
      text-align: center;
      color: var(--exp-color-primary);
      padding: 4px;
      font-weight: bolder;
      border-radius: 50%;
      top: 4px;
      right: 4px;
      opacity: 0.4;
      width: 8px;
      height: 8px;
    }

    &.group-element {
      margin-top: 8px;
      margin-bottom: 8px;
      border: 4px solid var(--exp-color-primary);
      border-left-style: none;
      border-right-style: none;
    }

    &.group-first {
      margin-left: 8px;
      border-left-style: solid;
      border-radius: 16px 0 0 16px;
    }

    &.group-last {
      margin-right: 8px;
      border-right-style: solid;
      border-radius: 0 16px 16px 0;
    }

    &:hover {
      z-index: 2;
      transform: scale(1.05);
    }

    &.shift:hover, &.zoom {
      z-index: 5;
      transform: scale(2);
    }

    & .selected-cover {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      z-index: 6;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.8;
      border: 5px solid var(--exp-color-secondary);
    }

    .image-container {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    .metadata {
      display: flex;
      flex-direction: column;
      padding: 8px;

      .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .heart-rate-container {
          display: flex;
          flex-direction: row;
          gap: 4px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
