<expl-dialog title="Help" (clickOnClose)="clickOnClose.emit($event)">
  <h4>CLIP Query</h4>
  Just enter any text to perform a CLIP query.

  <h4>Database Query</h4>
  Use any of the following parameters to (additionally) query the database and filter content:
  <ul>
    <li><b>-y</b>&nbsp; <i>year (4 digits; e.g., 2023) (+,- usable like 2019+1 = 2019-2020, 2020+-1 = 2019-2021) </i></li>
    <li><b>-m</b>&nbsp; <i>month (1-2 digits; e.g., 4) (+,- usable like 2+2 = 2-4, 5+-2 = 3-7)</i></li>
    <li><b>-d</b>&nbsp; <i>day (1-2 digits; e.g., 23) (+,- usable like 2+2 = 2-4, 5+-2 = 3-7)</i></li>
    <li><b>-hr</b>&nbsp; <i>hour (1-2 digits; e.g., 23) (+,- usable like 2+2 = 2-4, 5+-2 = 3-7)</i></li>
    <li><b>-wd</b>&nbsp; <i>Weekday (e.g., sunday)</i></li>
    <li><b>-h</b>&nbsp; <i>heart rate (1-3 digits; e.g., 60) (+,- usable like 60+20 = 60-80, 80+-10 = 70-90)</i></li>
    <li><b>-clip</b>&nbsp; <i>Clip Text Query</i></li>
    <li><b>-gpt</b>&nbsp; <i>GPT Text Query (add weight like car:3) (exclude words like !sky)</i></li>
    <li><b>-gptr</b>&nbsp; <i>GPT Regex Search</i></li>
    <li><b>-gptra</b>&nbsp; <i>GPT Regex And Search (seperator ',' like 'car,person')</i></li>
    <li><b>-a</b>&nbsp; <i>Address (City, Street, Country, etc.)</i></li>
    <li><b>-country</b>&nbsp; <i>Country (But you also can use address, which is more general)</i></li>
    <li><b>-t</b>&nbsp; <i>recognized <a [routerLink]="['/info/texts']">texts</a> (e.g., volvo)</i></li>
    <li><b>-o</b>&nbsp; <i>recognized <a [routerLink]="['/info/objects']">objects</a></i> (COCO dataset; e.g., bottle)</li>
    <li><b>-c</b>&nbsp; <i>recognized <a [routerLink]="['/info/concepts']">concepts</a></i> (ImageNet 1K dataset; e.g., dining_table)</li>
    <li><b>-p</b>&nbsp; <i>recognized <a [routerLink]="['/info/places']">places</a></i> (Places365 dataset; e.g., shopping_mall)</li>
    <li><b>-fn</b>&nbsp; <i>filename (or a part of it)</i></li>
  </ul>

  <h4>Result Limits</h4>
  <ul>
    <li>Use <b>All Images</b> to display all available images for a query.</li>
    <li>Use <b>Less Duplicates</b> to filter out temporally consecutive images in the result set hat are very similar.</li>
    <li>Use <b>Distinctive</b> to filter out temporally consecutive images in the result set that are similar.</li>
    <li>Use <b>First Image/Day</b> to display only the first image of the day in the result set.</li>
  </ul>

  <h4>Thumbnail Actions</h4>
  <ul>
    <li>Click thumbnail (or press space) to open <b>full-screen</b> view.</li>
    <li>Click <b>Date</b> to perform a <b>full day</b> (or <b>hour</b> or <b>minute</b>) query in a new tab.</li>
    <li>Click <b>Similar</b> to perform a <b>similarity query</b> in a new tab.</li>
    <li>Click <b>Submit</b> to send image to <b>DRES</b>.</li>
  </ul>

  <h4>Keyboard Shortcuts</h4>
  <ul>
    <li><b>left/right</b>: switch result image</li>
    <li><b>tab/shit+tab</b>: switch page</li>
    <li><b>1-9</b>: goto page</li>
    <li><b>e</b>: extend query (locks other shortcuts)</li>
    <li><b>CRTL + e</b> defocus search field (unlocks other shortcuts)</li>
    <li><b>q</b>: edit query (locks other shortcuts)</li>
    <li><b>x</b>: reset query</li>
    <li><b>i</b>: show/hide Info Dialog</li>
    <li><b>h</b>: show/hide History</li>
    <li><b>t</b>: show/hide Tuning Dialog</li>
    <li><b>m</b>: switch query mode</li>
    <li><b>r</b>: switch result mode</li>
    <li><b>Space/Esc</b>: close full-screen view of image</li>
    <li><b>s</b>: submit results in full-screen view of image</li>
  </ul>
</expl-dialog>
