<div class="settings-container exp-popup-content">
  <div class="exp-small-nav-bar">
    <div class="exp-clickable"
         (click)="currentSettingsType = settingType"
         [class.active]="currentSettingsType === settingType"
         *ngFor="let settingType of settingTypes">{{ settingType }}</div>
  </div>
  <div class="content">
    <ng-container *ngIf="currentSettingsType === HTMLSettingsType.General">
      <div class="header-label">Query Mode</div>
      <app-settings-query-mode />
      <div class="header-label">Result Mode</div>
      <app-settings-view-results-mode />
      <div class="header-label">Map Default Zoom Value (1-18)</div>
      <input type="number" min="1" max="18" [ngModel]="mapDefaultSize$ | async" (change)="changeMapDefaultSize($event)">
      <div class="header-label">Filter Query Max-Width</div>
      <input type="number" min="20" max="2000" [ngModel]="filterQueryWidth$ | async" (change)="changeFilterQueryWidth($event)">
      <div class="header-label">Show Task info</div>
      <input type="checkbox" [ngModel]="showTaskInfo$ | async" (change)="changeShowTaskInfo($event)">
    </ng-container>
  </div>
</div>
